<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Đặt hàng thành công</title>
  </head>
  <body>
    <div layout:fragment="content" class="container py-5 text-center">
      <div class="alert alert-success display-4 mb-4">
        <i class="bi bi-check-circle-fill me-2"></i> Đặt hàng thành công!
      </div>
      <p class="lead">
        Cảm ơn bạn đã đặt hàng tại cửa hàng của chúng tôi.<br />Chúng tôi sẽ
        liên hệ và giao hàng trong thời gian sớm nhất.
      </p>
      <a href="/user/orders" class="btn btn-primary btn-lg mt-3"
        ><i class="bi bi-list"></i> Xem đơn hàng của tôi</a
      >
      <a
        href="/user/products"
        class="btn btn-outline-secondary btn-lg mt-3 ms-2"
        ><i class="bi bi-house"></i> Tiếp tục mua sắm</a
      >
    </div>
  </body>
</html>
