<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Admin Dashboard</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h2>Dashboard Quản trị</h2>
      <ul>
        <li><a th:href="@{/admin/user-management}">Quản lý người dùng</a></li>
        <li><a th:href="@{/admin/products}">Quản lý sản phẩm</a></li>
        <li><a th:href="@{/admin/orders}">Quản lý đơn hàng</a></li>
      </ul>
    </div>
  </body>
</html>
