<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout-admin}"
>
  <head>
    <title>Sửa người dùng</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h2>Sửa người dùng</h2>
      <form
        th:action="@{'/admin/users/' + ${user.id}}"
        th:object="${user}"
        method="post"
      >
        <table>
          <tr>
            <th>ID</th>
            <td th:text="${user.id}"></td>
          </tr>
          <tr>
            <th>Email</th>
            <td th:text="${user.email}"></td>
          </tr>
          <tr>
            <th>Họ tên</th>
            <td>
              <span
                th:if="${#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
                th:text="${user.hoTen}"
              ></span>
              <input
                th:if="${!#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
                type="text"
                th:field="*{hoTen}"
              />
            </td>
          </tr>
          <tr>
            <th>Số điện thoại</th>
            <td>
              <span
                th:if="${#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
                th:text="${user.soDienThoai}"
              ></span>
              <input
                th:if="${!#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
                type="text"
                th:field="*{soDienThoai}"
              />
            </td>
          </tr>
          <tr>
            <th>Hình ảnh (URL)</th>
            <td>
              <span
                th:if="${#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
                th:text="${user.hinhAnh}"
              ></span>
              <input
                th:if="${!#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
                type="text"
                th:field="*{hinhAnh}"
              />
            </td>
          </tr>
          <tr>
            <th>Phân quyền Admin</th>
            <td>
              <input
                type="checkbox"
                name="isAdmin"
                th:checked="${#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
                th:disabled="${user.email == #authentication.name}"
              />
              <span
                th:if="${user.email == #authentication.name}"
                style="color: gray"
                >(Không thể tự bỏ quyền admin của chính mình)</span
              >
            </td>
          </tr>
        </table>
        <div
          th:if="${#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
          style="color: red; margin: 10px 0"
        >
          Chỉ được phân quyền, không được sửa thông tin cá nhân của admin!
        </div>
        <button
          th:if="${!#lists.contains(user.vaiTros, 'ROLE_ADMIN')}"
          type="submit"
        >
          Lưu
        </button>
        <a th:href="@{/admin/users}">Hủy</a>
      </form>
    </div>
  </body>
</html>
