<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Quản lý người dùng</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h2>Quản lý người dùng</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Họ tên</th>
            <th>Số điện thoại</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.hoTen}"></td>
            <td th:text="${user.soDienThoai}"></td>
            <td>
              <a th:href="@{'/admin/users/edit/' + ${user.id}}">Sửa</a> |
              <a th:href="@{'/admin/users/delete/' + ${user.id}}">Xóa</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
